<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li> <!-- Will tell angular that this element will load as a route. routerLinkActive: Adds the active class dynamically to the li once they are click. 
          routerLinkActiveOptions: tells to the routerLinkActive to only add the class if the FULL path is the link in li. -->
        <li role="presentation" routerLinkActive="active"><a routerLink="servers">Servers</a></li> <!-- We can avoid "/" because we are in the root component and since is a relative path it will just append to localhost:4200 -->
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet> <!--its a directive, mark the place where we want the angular router to load the component -->
    </div>
  </div>
  
</div>
